/* Cart.css */

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .cart-item {
    width: 90vw;
    border: 0.1rem solid #ddd;
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-image {
    max-width: 7rem;
    height: auto;
  }
  
  .cart-total {
    font-size: 18px;
    margin: 2rem 0;
  }
  
  .buy-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.2rem 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 7rem;
  }
  
  .go-home-link {
    margin-top: 2rem;
    color: #007bff;
    font-weight: bold;
  }
  